.container {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.header-image img {
    float: right;
    width: 27em;
    height: 25em;
    margin-right: 3.5rem;
    margin-top: 3rem;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .header-image img {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header-image img {
        display: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .header-image img {
        display: none;
    }
}